{% include 'sitio/cabecera.html' %}
        <div class="ps5 bg-light">
            <div class="container">
                <h1 class="display-3">Bienvenid@</h1>
                <p class="lead"><b>Macha Barbershop </b><b>Ofrecemos Tus Recerbas de Citas Y Tambien puedes <br>
                Explorar Los Productos Que Vendemos</b></p>
                <hr class="my2">
                <p class="lead">
                    <a target="_blank" class="btn btn-success btn-lg" href="#" role="button">Recerbar Mi Cita</a>
                </p>
            </div>
        </div>
{% include 'sitio/pie.html' %}