{% include 'sitio/cabecera.html' %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Quien soy <a target="_blank" style="cursor: pointer; text-decoration: none; background-color: darkslategray; color: aliceblue;" href="https://www.youtube.com/@codefxomarroma">OmarWebTech</a></h4>
        <p class="card-text">Como Uno mas de sistemas mi meta es convertirme en una persona que sea su <br>
        propio jefe atravez de todo este tiempo que e estado en la carrera y que sigo actualmente admito que es divertido <br>
    y que si hubiese conocido mas antes la programacion estaria mucho mas a gusto y darle el mismo <br>
esfuerzo que le doy creando mis proyectos , replicas , mejoras y haciendolas mas extensas</p>
    </div>
    <img width="400px" height="400px" class="card-img-top" src="https://www.lanacion.com.ar/resizer/v2/el-dia-internacional-del-programador-se-celebra-VQV3UUONR5EJNJUGNXZF2IGP3A.jpg?auth=090a49b5ceca8f981a102997d13190656d6cccefc17023f7f4048ffd39bdcc68&width=880&height=586&quality=70&smart=true" alt="Title" />
</div>
{% include 'sitio/pie.html' %}